<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a5aa777f-bdc4-424e-9c2b-3d13cbd693b2/resourcegroups/DefaultResourceGroup-CID/providers/Microsoft.ContainerRegistry/registries/ShoppingClient20251111155709</ResourceId>
    <ResourceName>ShoppingClient20251111155709</ResourceName>
    <ResourceGroup>DefaultResourceGroup-CID</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://shoppingclient20251111155709.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d53babdb-1dd4-477d-87f4-deffb622c2d3</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>