################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shopping/Shopping/.vs/Shopping/CopilotIndices/17.14.1368.60722
/Shopping/Shopping/.vs/Shopping/v17
/Shopping/Shopping/.vs/Shopping
/Shopping/Shopping/Shopping.Client/bin/Debug/net9.0
/Shopping/Shopping/Shopping.Client/obj
/Shopping/Shopping/ShoppingClient/obj
/Shopping/Shopping/Shopping.Client/Shopping.Client.csproj.user
