name: Trigger auto deployment for deploymentcheckon12nov2023

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/deploymentcheckon12nov2023-AutoDeployTrigger-09023380-0a50-4922-9859-ab746047eaf3.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.DEPLOYMENTCHECKON12NOV2023_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.DEPLOYMENTCHECKON12NOV2023_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.DEPLOYMENTCHECKON12NOV2023_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.DEPLOYMENTCHECKON12NOV2023_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.DEPLOYMENTCHECKON12NOV2023_REGISTRY_PASSWORD }}
          containerAppName: deploymentcheckon12nov2023
          resourceGroup: DeploymentCheckon12Nov2023
          imageToBuild: abid.akhtar@gmail.com/deploymentcheckon12nov2023:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


